@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap%");

body{
    background-color: #141414;
    color: white;
    font-family: 'Itim', sans-serif;
}

h1,#title{
    text-align: center;
}

p,#keylist{
    width: 800px;
    height: 465px;
    border: solid 1px rgb(120, 0, 0);
    text-align: center;

    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: block;

}

select,#num{
    width: 72px;
    height: 20px;

    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: block;

    background-color: #1F1F1F;
    color: white;
    border:  solid 1px rgb(120, 0, 0);

}

button{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: block;

    cursor: pointer;

    width: 72px;
    height: 30px;

    background-color: #1F1F1F;
    color: white;

    border:  solid 1px rgb(120, 0, 0);

    text-align: center;
}

button:first-child{
    outline: 0;
    border: solid 1px white;
}